/* 
Help from: http://coderguy.com/2013/06/18/twitter-bootstrap-affix-nav-tutorial.html
*/

.affix {
  width: inherit;
  position: fixed;
  top: 50px;
}
.affix-bottom {
  width: inherit;
  position: absolute;
  top: auto;
  bottom: 200px;
}


th {
    color: #3751ad;
}

#sliderValue{
    color: #e8122e;
}

h2{
        color: #4389bc;
    }
