{% extends "base.html" %}

{% block further_head %}
    <link href="/static/css/view_doc.css" rel="stylesheet" media="screen">
    <script src="/static/js/popover.js"></script>
    <script src="/static/js/tooltip.js"></script>
    <script src="/static/js/view_doc.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/highcharts.js"></script>

    <script src="/static/js/exporting.js"></script>
    <script src="/static/js/highcharts-more.js"></script>
    <!--<script src="/static/js/colorScroll.js"></script>-->
    <!-- added  -->
    <script src="/static/js/jquery-ui-git.js"></script>
    <link rel='stylesheet' href='/static/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/static/css/style.css'/>
    <!-- end added -->
{% endblock further_head %}


{% block content %}
    <div class="container-fluid">
        <style>
            .color-map {
                /*margin-top: 150px;*/
                margin-top:164px !important;
                height:524px;
                float:right;
            }
            .passage{
                font-size:16px;
            }
            .reduce-font b {
                font-size: 10px
            }
            #block_container
            {
                text-align:center;
            }
            #redcircle, #orangecircle, #blackcircle, #underline
            {
                display:inline;
                font-size: 15px
            }

        </style>


        <h1>&nbsp;&nbsp;&nbsp;Stylistic Analysis</h1>

        <div class="jumbotron">

            <!--<div class="row reduce-font">
            <div class="col-md-2" align="center"> -->
            <style type="text/css">
                table.gridtable {
                    #font-family: verdana,arial,sans-serif;
                    font-size:14px;
                    color:#333333;
                    border-width: 1px;
                    border-color: #666666;
                    border-collapse: collapse;
                    width: 100%;
                    white-space: nowrap;
                }
                table.gridtable th {
                    border-width: 1px;
                    padding: 8px;
                    border-style: solid;
                    border-color: #666666;
                    background-color: #dedede;
                    white-space: nowrap;
                }
                table.gridtable td {
                    border-width: 1px;
                    padding: 8px;
                    border-style: solid;
                    border-color: #666666;
                    background-color: #ffffff;
                    white-space: nowrap;
                }
            </style>


            <table class="gridtable" width="100%">

                <tr>
                    <th width=100px>Document</th>
                    <th width=100px>Atom Type</th>
                    <th width="125px">Cluster Method</th>
                    {% if cluster_method == 'kmeans' %}
                        <th width="30px">k</th>
                    {% endif %}
                    <th>
                        Stylistic Feature(s)
                    </th>
                    {% if modelyn != '' %}
                        <th>Style Model used is</th>
                    {% endif %}
                    <th width="130px">Threshold Type</th>
                </tr>

                <tr>
                    <td width="100px">{{ doc_name }}</td>
                    <td width="100px">{{ atom_type }}</td>
                    <td width="125px">{{ cluster_method }}</td>
                    {% if cluster_method == 'kmeans' %}
                        <td width="30px">{{ k }}</td>
                    {% endif %}
                    <td style="word-wrap:break-all;">{% for f in features %}{{ f }};{% endfor %}</td>
                    {% if modelyn != '' %}
                        <td>{{ modelyn }}</td>
                    {% endif %}

                    {% if THRES == '0.8' %}
                    <td width="130px">0.8</td>
                    {% else %}
                    <td width="130px">90th percentile</td>
                    {% endif %}


                </tr>

            </table>

    <div id="block_container">
        {% if plag_cats|length > 0 %}
            <div id="redcircle" style="width: 60px;height: 60px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;background: orange;">atom, score > threshold</div>
            <div id="orangecircle" style="width: 60px;height: 60px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;background: pink;">gt atom, score > threshold</div>
            <div id="orangecircle" style="width: 60px;height: 60px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;background: red;">gt atom, score < threshold</div>
            <div id="blackcircle" style="width: 50px;height: 50px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;background: black; color: white;">atom, score < threshold</div>
        {% else %}
            <div id="redcircle" style="width: 50px;height: 50px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;background: orange;">Atom crossing the threshold</div>
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- boxplot visualization (seenu.andi-rajendran)-->
                    <div id="boxplot"></div>
                </div>
                <!-- Color Scroller (seenu.andi-rajendran)-->
                <div class="col-md-1" id='document_browser'>
                    <aside id='left'><span class="spacer-bg-top"></span><span class="spacer-bg-body"></span></aside>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- added colouring to text based on confidence value(seenu.andi-rajendran)-->
                            <div class="panel-body" style="height:550px;overflow-y: scroll;" id="document_content">
                                <p>
                                    {% set j=0 %}
                                    {% for passage in passages %}

                                        {% if passage.plag_confidence >= THRES and not passage.is_plag()%}
                                            <div class="passage" features="{{ passage.to_html() }}"
                                                 style="font-size:13px;line-height:16px;color: orange;text-align:left"
                                                 id='pass{{ j }}'>
                                                {{ passage.text.decode('utf8')|safe }}
                                            </div>
                                        {% elif passage.plag_confidence >= THRES and passage.is_plag()%}
                                            <div class="passage" features="{{ passage.to_html() }}"
                                                 style="font-size:13px;line-height:16px;color: pink;text-align:left"
                                                 id='pass{{ j }}'>
                                                {{ passage.text.decode('utf8')|safe }}
                                            </div>
                                        {% elif passage.plag_confidence < THRES and passage.is_plag()%}
                                            <div class="passage" features="{{ passage.to_html() }}"
                                                 style="font-size:13px;line-height:16px;color: red;text-align:left"
                                                 id='pass{{ j }}'>
                                                {{ passage.text.decode('utf8')|safe }}
                                            </div>
                                        {% else %}
                                            <div class="passage" features="{{ passage.to_html() }}"
                                                 style="font-size:13px;line-height:16px;text-align:left"
                                                 id='pass{{ j }}'>
                                                {{ passage.text.decode('utf8')|safe }}
                                            </div>
                                        {% endif %}
                                        {% if atom_type == 'paragraph' %}
                                            <br/>
                                        {% endif %}
                                        {% set j = j + 1 %}


                                    {% endfor %}
                                </p>
                            </div>
                            <br>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#full_table">
                            Atom Scores
                        </button>

                            <div class="row collapse" id="full_table">
                                <div class="col-md-9">
                                    <div class="table-responsive" style="font-size:12px;">
                                        <table class="table table-condensed table-scrollable table-bordered" style="height:10px;">
                                            <thead>
                                            <tr>
                                                <th>Atom No</th>
                                                <th>Start Index</th>
                                                {% for feature in features %}
                                                    <th>{{ feature }}</th>
                                                {% endfor %}
                                                <th>Suspicion Score</th>
                                                {% if plag_cats|length > 0 %}
                                                    <th>Plag. Span</th>
                                                {% endif %}

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- Added colouring to each atom based on confidence value(seenu.andi-rajendran)-->
                                            {% for passage in passages %}

                                                <tr class="passage_starting_at_{{ passage.start_word_index }}">
                                                <td>{{ loop.index }}</td>

                                                    <td class="passage_row"> {{ passage.char_index_start }}</td>
                                                    {% for feature in passage.features %}
                                                        <td class="passage_row"> {{ "%.4f"| format(passage.features[feature]) }}</td>
                                                    {% endfor %}

                                                    {% if passage.plag_confidence >= THRES and not passage.is_plag()%}
                                                        <td class="passage_row"
                                                            style="background-color:orange"> {{ "%.4f"| format(passage.plag_confidence) }}</td>
                                                    {% elif passage.plag_confidence >= THRES and passage.is_plag()%}
                                                        <td class="passage_row"
                                                            style="background-color:pink"> {{ "%.4f"| format(passage.plag_confidence) }}</td>
                                                    {% elif passage.plag_confidence < THRES and passage.is_plag()%}
                                                        <td class="passage_row"
                                                            style="background-color:red"> {{ "%.4f"| format(passage.plag_confidence) }}</td>
                                                    {% else %}
                                                        <td class="passage_row">{{ "%.4f"| format(passage.plag_confidence) }}</td>
                                                    {% endif %}


                                                    {% if plag_cats|length > 0 %}
                                                        {% if passage.plag_spans|length > 0 %}
                                                            <td class="passage_row"> {{ "(%i, %i)"| format(passage.plag_spans[0][0],
                                passage.plag_spans[0][1]) }}
                                                            </td>
                                                        {% else %}
                                                            <td class="passage_row"/>
                                                        {% endif %}
                                                    {% endif %}


                                                </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    </div>

    <!-- added colorscroll (seenu.andi-rajendran) -->
    <script src="/static/js/colorScroll.js"></script>
    <!-- end added -->

    <script>
        //http://stackoverflow.com/questions/6092855/how-do-i-remove-empty-p-tags-with-jquery (seenu.andi-rajendran)
        $('p').each(function () {
            var $this = $(this);
            if ($this.html().replace(/\s|&nbsp;/g, '').length == 0)
                $this.remove();
        });
        //related to boxplot (seenu.andi-rajendran)
        function contains(a, obj) {
            var i = a.length;
            while (i--) {
                if (a[i] === obj) {
                    return true;
                }
            }
            return false;
        }
        ;
        function scrllto(h) {
            document.getElementById(h).scrollIntoView();
        }
        ;
        //js code for boxplot visualization (seenu.andi-rajendran)
        plag_cats = {{ plag_cats|safe }};
        $(document).ready(function () {
            var lastClicked;
            $('#boxplot').highcharts({
                chart: {
                    type: 'boxplot',
                    'zoomType': 'xy',
                    'panKey': 'shift',
                    'height': 550,
                    'panning': true,
                    'inverted': false,
                    'width': 250        //increased width of boxplot to get tooltip appear completely
                },
                title: {{title2|safe}},
                xAxis: {
                    categories: {{categories2|safe}}
                },
                series: {{series_box|safe}},
                yAxis: {
                    title: {
                        text: 'Stylistic Dissimilarity Score'
                    },
                    plotLines: [{
                        value: {{THRES|safe}},
                        color: 'black',
                        width: 1,
                        label: {
                            text: 'Threshold value: {{THRES|round(2)}}',
                            align: 'center',
                            style: {
                                color: 'gray'
                            }
                        }
                    }]
                },
                //clicking on each atom on boxploy to scroll to the atom on text (seenu.andi-rajendran)
                plotOptions: {
                    series: {
                        point: {
                            events: {
                                click: function myFunction() {
                                    if (lastClicked !== undefined) {
                                        lastClicked.css("border-style", "none");
                                    }
                                    scrllto('pass' + this.c);
                                    $('#pass' + this.c).css("border-style", "none");
                                    lastClicked = $('#pass' + this.c);
                                }
                            }
                        }
                    }
                }
            });
        });

        // Change the selector if needed
        var $table = $('table.scroll'),
                $bodyCells = $table.find('tbody tr:first').children(),
                colWidth;

        // Adjust the width of thead cells when window resizes
        $(window).resize(function() {
            // Get the tbody columns width array
            colWidth = $bodyCells.map(function() {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            $table.find('thead tr').children().each(function(i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize(); // Trigger resize handler
    </script>
{% endblock content %}
